<mat-toolbar color="primary">
    <mat-icon>menu</mat-icon>
    <span>NG Posts & Users</span>

    <span class="spacer"></span>

    <button mat-button [routerLink]="'/posts'">Posts</button>
    <button mat-button [routerLink]="'/new-post'">Add a New Post</button>
    <button mat-button [routerLink]="'/users'">Users</button>
    <button mat-button [routerLink]="'/new-user'">Add a New User</button>
    <button mat-button [routerLink]="'/user-search'">Search Users</button>
    <button mat-button [routerLink]="'/user-availability-schedule'">Schedule Availability</button>
</mat-toolbar>